In [6]:
import pandas as pd
import numpy as np
import datetime
from ravenpackapi import RPApi

api = RPApi(api_key='INSERT YOUR API KEY')

In [2]:
# tracking local banks - preset api keys from personalised dashboard

news_sources = {
    'dbs_general': "43DF4D8FA22B80ECE94E8729BEDEC6C4",
    'uob_general': "FD5AA5E1DBD987CE34BED42728ADCCE4",
    'ocbc_general': "4B27B6E1B37DDBF8CA6604646B42B8DD",
}

news_volume_spikes = {
    'dbs_news_volume_spikes': "B25D42AF9042C76574B87E4ABDE66B81",
    'uob_news_volume_spikes': "7698BF1230711675A6ED9A53A21514A5",
    'ocbc_news_volume_spikes': "7FF80DA8AFB3C36F7DCFA2BE2D0EC364"
}

### Method
Works only for less than 1 year datasets

In [3]:
def download_data(dataset_id, start_date, end_date):
    """
    Self-improvised methods from RavenPack API
    Limitation of API: only 1 year or 10,000 worth of datasets allowed per requests
    """

    ds = api.get_dataset(dataset_id)
    data = ds.json(
        start_date,
        end_date,
    )

    list_of_dict = []
    for record in data:
        list_of_dict.append(record)

    return pd.DataFrame.from_dict(list_of_dict, orient='columns')

In [4]:
start_date = '2022-01-01'
end_date = '2022-03-26'

In [5]:
ldf = []
for k, v in news_sources.items():
    ldf.append(download_data(v, start_date, end_date))
news_sources_df = pd.concat(ldf, axis=0)
news_sources_df.reset_index(inplace=True, drop=True)
news_sources_df

,timestamp_tz,entity_name,country_code,event_sentiment_score,topic,group,type,category,event_text,news_type,source_name,headline
0,2022-03-23 16:38:42.368,DBS Group Holdings Ltd.,SG,0.49,business,partnerships,partnership,partnership,Bank and DBS have partnered to,FULL-ARTICLE,New Age Bangladesh,"BRAC Bank, DBS tie-up eases remittance from Si..."
1,2022-03-23 04:27:18.708,DBS Bank Ltd.,SG,0.36,business,marketing,campaign-ad,campaign-ad-release,Dbs launches new brand campaign,FULL-ARTICLE,Marketing-interactive.com,DBS launches new brand campaign with TSLA
2,2022-03-18 12:15:14.816,DBS Bank Ltd.,SG,0.51,business,products-services,business-contract,business-contract-supplier,Dbs Bank gets 10 years prohibition orders,FULL-ARTICLE,Post Online Media,Singapore: Former wealth planning manager with...
3,2022-03-18 05:58:24.746,DBS Bank Ltd.,SG,0.50,business,credit-ratings,credit-rating-change,credit-rating-set,Moody's Assigns Definitive Aaa Rating To Dbs Bank,NEWS-FLASH,Dow Jones Newswires,Moody's Assigns Definitive Aaa Rating To Dbs B...
4,2022-03-18 02:20:07.579,DBS Bank Ltd.,SG,0.50,business,credit-ratings,credit-rating-change,credit-rating-set,Fitch Rates DBS's USD1.5 Billion Series 11 Mor...,PRESS-RELEASE,Dow Jones Newswires,Press Release: Fitch Rates DBS's USD1.5 Billio...
...,...,...,...,...,...,...,...,...,...,...,...,...
312,2022-01-12 10:35:04.732,Oversea-Chinese Banking Corp. Ltd.,KY,0.54,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Credit Suisse Upgrades Oversea-Chinese Banking...,FULL-ARTICLE,Street Insider,Credit Suisse Upgrades Oversea-Chinese Banking...
313,2022-01-11 06:45:35.855,Oversea-Chinese Banking Corp. Ltd.,KY,0.48,business,equity-actions,expenses,expenses-down,Ocbc lowers its cost-of,FULL-ARTICLE,Dow Jones Newswires,SPH REIT Has Likely Growth Drivers in Its Aust...
314,2022-01-10 08:52:44.039,Oversea-Chinese Banking Corp. Ltd.,KY,0.58,business,price-targets,price-target,price-target-upgrade,Oversea-Chinese Banking Corp. Target Price Rai...,NEWS-FLASH,Dow Jones Newswires,Oversea-Chinese Banking Corp. Target Price Rai...
315,2022-01-06 10:38:14.809,Oversea-Chinese Banking Corp. Ltd.,KY,0.54,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Zacks Investment Research upgraded shares of O...,FULL-ARTICLE,Ticker Report,Oversea-Chinese Banking (OTCMKTS:OVCHY) Upgrad...
316,2022-01-06 10:38:14.809,Oversea-Chinese Banking Corp. Ltd.,KY,0.94,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Jpmorgan Chase & Co. upgraded shares of Overse...,FULL-ARTICLE,Ticker Report,Oversea-Chinese Banking (OTCMKTS:OVCHY) Upgrad...

In [7]:
ldf = []
for k, v in news_volume_spikes.items():
    ldf.append(download_data(v, start_date, end_date))
news_volume_spikes_df = pd.concat(ldf, axis=0)
news_volume_spikes_df.reset_index(inplace=True, drop=True)
news_volume_spikes_df

,timestamp_utc,rp_entity_id,entity_name,avg_ess,news_spikes_w,avg_ess_w,avg_ess_m,news_spikes_m,avg_str_ess_w,avg_str_ess_m
0,2022-01-02 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.12982,0.14598
1,2022-01-03 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.11758,0.14265
2,2022-01-04 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.10650,0.13939
3,2022-01-05 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.09646,0.13621
4,2022-01-06 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.08736,0.13310
...,...,...,...,...,...,...,...,...,...,...
583,2022-03-22 00:00:00,ROLLUP,Rollup of data for all entities,0.18333,1.49120,0.30000,0.26498,0.03183,0.18222,0.26887
584,2022-03-23 00:00:00,ROLLUP,Rollup of data for all entities,0.59000,-0.24618,0.35800,0.28820,-0.21109,0.46853,0.36879
585,2022-03-24 00:00:00,ROLLUP,Rollup of data for all entities,0.59000,-0.24618,0.35800,0.30832,-0.21531,0.53347,0.42695
586,2022-03-25 00:00:00,ROLLUP,Rollup of data for all entities,0.59000,-0.24618,0.43000,0.34587,-0.20718,0.55173,0.46355
587,2022-03-26 00:00:00,ROLLUP,Rollup of data for all entities,0.38000,1.47710,0.46667,0.39633,0.08754,0.42419,0.43472

### Test

In [1]:
import pickle

file = open("data/sentiment_data/extract/220328_news_sources.pickle", "rb")
news_sources_df = pickle.load(file)
news_sources_df

,timestamp_tz,entity_name,country_code,event_sentiment_score,topic,group,type,category,event_text,news_type,source_name,headline
0,2022-03-23 16:38:42.368,DBS Group Holdings Ltd.,SG,0.49,business,partnerships,partnership,partnership,Bank and DBS have partnered to,FULL-ARTICLE,New Age Bangladesh,"BRAC Bank, DBS tie-up eases remittance from Si..."
1,2022-03-23 04:27:18.708,DBS Bank Ltd.,SG,0.36,business,marketing,campaign-ad,campaign-ad-release,Dbs launches new brand campaign,FULL-ARTICLE,Marketing-interactive.com,DBS launches new brand campaign with TSLA
2,2022-03-18 12:15:14.816,DBS Bank Ltd.,SG,0.51,business,products-services,business-contract,business-contract-supplier,Dbs Bank gets 10 years prohibition orders,FULL-ARTICLE,Post Online Media,Singapore: Former wealth planning manager with...
3,2022-03-18 05:58:24.746,DBS Bank Ltd.,SG,0.50,business,credit-ratings,credit-rating-change,credit-rating-set,Moody's Assigns Definitive Aaa Rating To Dbs Bank,NEWS-FLASH,Dow Jones Newswires,Moody's Assigns Definitive Aaa Rating To Dbs B...
4,2022-03-18 02:20:07.579,DBS Bank Ltd.,SG,0.50,business,credit-ratings,credit-rating-change,credit-rating-set,Fitch Rates DBS's USD1.5 Billion Series 11 Mor...,PRESS-RELEASE,Dow Jones Newswires,Press Release: Fitch Rates DBS's USD1.5 Billio...
...,...,...,...,...,...,...,...,...,...,...,...,...
314,2022-01-12 10:35:04.732,Oversea-Chinese Banking Corp. Ltd.,KY,0.54,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Credit Suisse Upgrades Oversea-Chinese Banking...,FULL-ARTICLE,Street Insider,Credit Suisse Upgrades Oversea-Chinese Banking...
315,2022-01-11 06:45:35.855,Oversea-Chinese Banking Corp. Ltd.,KY,0.48,business,equity-actions,expenses,expenses-down,Ocbc lowers its cost-of,FULL-ARTICLE,Dow Jones Newswires,SPH REIT Has Likely Growth Drivers in Its Aust...
316,2022-01-10 08:52:44.039,Oversea-Chinese Banking Corp. Ltd.,KY,0.58,business,price-targets,price-target,price-target-upgrade,Oversea-Chinese Banking Corp. Target Price Rai...,NEWS-FLASH,Dow Jones Newswires,Oversea-Chinese Banking Corp. Target Price Rai...
317,2022-01-06 10:38:14.809,Oversea-Chinese Banking Corp. Ltd.,KY,0.54,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Zacks Investment Research upgraded shares of O...,FULL-ARTICLE,Ticker Report,Oversea-Chinese Banking (OTCMKTS:OVCHY) Upgrad...
318,2022-01-06 10:38:14.809,Oversea-Chinese Banking Corp. Ltd.,KY,0.94,business,analyst-ratings,analyst-ratings-change,analyst-ratings-change-positive,Jpmorgan Chase & Co. upgraded shares of Overse...,FULL-ARTICLE,Ticker Report,Oversea-Chinese Banking (OTCMKTS:OVCHY) Upgrad...

In [10]:
file = open("data/sentiment_data/extract/220328_news_volume_spikes.pickle", "rb")
news_volume_spikes_df = pickle.load(file)
news_volume_spikes_df

,timestamp_utc,rp_entity_id,entity_name,avg_ess,news_spikes_w,avg_ess_w,avg_ess_m,news_spikes_m,avg_str_ess_w,avg_str_ess_m
0,2022-01-02 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.12982,0.14598
1,2022-01-03 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.11758,0.14265
2,2022-01-04 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.10650,0.13939
3,2022-01-05 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.09646,0.13621
4,2022-01-06 00:00:00,F613E8,DBS Group Holdings Ltd.,NaN,-0.40825,0.14333,0.39833,-0.33333,0.08736,0.13310
...,...,...,...,...,...,...,...,...,...,...
597,2022-03-24 00:00:00,ROLLUP,Rollup of data for all entities,0.59,-0.24618,0.35800,0.30832,-0.21531,0.53347,0.42695
598,2022-03-25 00:00:00,ROLLUP,Rollup of data for all entities,0.59,-0.24618,0.43000,0.34587,-0.20718,0.55173,0.46355
599,2022-03-26 00:00:00,ROLLUP,Rollup of data for all entities,0.38,1.47710,0.46667,0.39633,0.08754,0.42419,0.43472
600,2022-03-27 00:00:00,ROLLUP,Rollup of data for all entities,NaN,-1.10782,0.46667,0.42488,-0.76509,0.38420,0.42492
601,2022-03-28 00:00:00,ROLLUP,Rollup of data for all entities,NaN,-1.10782,0.46667,0.50115,-0.72072,0.34798,0.41549

In [2]:
file = open("data/sentiment_data/historical/final_df.pickle", "rb")
final_df = pickle.load(file)
final_df

,date,Score_Minutes,Score_Minutes_DB,Score_Statement,Score_Statement_DB
0,2000-02-29,0.919118,0.899856,1.000000,1.000000
1,2000-03-31,1.000000,1.000000,1.000000,1.000000
2,2000-05-31,0.754310,0.870304,-0.090909,0.500000
3,2000-06-30,0.540865,0.699888,1.000000,1.000000
4,2000-08-31,0.572917,0.911618,0.478261,1.000000
...,...,...,...,...,...
158,2021-04-30,0.018825,0.657037,-0.714286,0.900000
159,2021-06-30,0.000000,0.770448,-0.666667,0.894737
160,2021-07-31,-0.320700,0.533948,-0.714286,0.900000
161,2021-09-30,-0.016200,0.613607,-0.714286,0.904762
162,2022-01-31,-0.016200,0.599064,-0.714286,0.777778